@import "tailwindcss/base";
@import "tailwindcss/components";

// Custom Styles

// Hide Google Chrome Display Debugging Results
.profiler-result{ display: none !important}

// Fancy Alert
#notice_wrapper{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
	background: rgb(248, 113, 113);
	.alert, .notice{
		padding: 1.75rem 0;
		text-align: center;
		margin: 0;
		font-size: 1rem;
		font-weight: 500;
		color: #FFFFFF;
		letter-spacing: 1px;
	}
}

// Modal
.modal {
	transition: opacity 0.25s ease;
}

body.modal-active {
	overflow-x: hidden;
	overflow-y: visible !important;
}

@import "tailwindcss/utilities";